@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

/* Main settings */
body {
  margin: 0;
  background-image: url("./media/pexels-header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: "Montserrat", sans-serif;
}

/* Container settings */
.container {
  display: flex;
  flex-direction: column;
  color: #fafafa;
}

/* Navigation section */
nav {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav h2 {
  float: left;
  margin: 30px;
}

nav ul {
  margin: 30px;
}

nav li {
  float: right;
  list-style: none;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: #fafafa;
}

/* Header section */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  line-height: 1rem;
}

header img {
  height: 250px;
  border-radius: 50%;
  transition: ease-out 0.2s;
}

header img:hover {
  transform: scale(1.02);
}

header h1 {
  font-size: 80px;
}

header p {
  font-size: 26px;
}

/* About section */
.about-section {
  background-color: rgba(51, 51, 51, 0.9);
  margin: 50px;
  padding: 30px;
  border-radius: 5px;
}

/* Projects section */
.projects-section {
  background-color: rgba(51, 51, 51, 0.9);
  margin: 50px;
  padding: 30px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}

.project-container {
  background-color: black;
  margin: 10px;
  height: 350px;
  width: 350px;
}

.project-container img {
  filter: brightness(100%);
}

.project-container img:hover {
  filter: brightness(10%);
  transition: all 0.3s ease;
}

/* Footer section */
footer {
  background-color: #333333;
  padding: 10px;
  display: inline-block;
  text-align: center;
}

/* Responsive settings */
@media only screen and (max-width: 768px) {
  /* Header section */
  header h1 {
    font-size: 50px;
  }
  header p {
    font-size: 18px;
  }

  /* About section */
  .about-section {
    margin: 30px;
    padding: 30px;
  }

  /* Projects section */
  .projects-section {
    margin: 30px;
    padding: 30px;
  }

  /* Header section */
  footer {
    font-size: 14px;
  }
}
