:root {
    --nav-background-color: gray;
    --nav-text-color: white;
}

* {
    margin: 0;
}

header {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--nav-background-color);
}

.nav-bar li {
    display: inline-block;
    padding: 10px 15px;
    list-style: none;
}

.nav-bar a {
    color: var(--nav-text-color);
    text-decoration: none;
}