* {
    margin: 0;
}

.nav-bar {
    width: 100%;
    background-color: gray;
}

.nav-bar li {
    display: inline-block;
    padding: 10px 15px;
    list-style: none;
}

.nav-bar a {
    color: white;
    text-decoration: none;
}