/* Header section background */
.bgimage {
  height: 100vh;
  background: url("./media/pexels-header-bg.jpg");
  background-size: cover;
  position: relative;
}

/* Header section text */
.hero_title {
  font-size: 4.5rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-twitter:hover {
  color: #00c3e6;
}
.fab {
  color: #000000;
}
/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}

/* spacing on all sections */
#about {
  margin-top: 4rem;
  padding-top: 4rem;
}
