@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  background-image: url("./media/pexels-header-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  font-family: 'Montserrat', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  color: #fafafa;
}

nav {
  background-color: #333333;
  position: fixed;
  top: 0;
  width: 100%;
}

nav h2 {
  float: left;
  margin: 30px;
}

nav ul {
    margin: 30px;
}

nav li {
  float: right;
  list-style: none;
  padding-left: 20px;
}

nav a {
  text-decoration: none;
  color: #fafafa;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

header h1 {
    font-size: 120px;
}

.about-section {
  background-color: rgba(51, 51, 51, 0.9);
  margin: 50px;
  padding: 50px;
  border-radius: 5px;
}

.projects-section {
  background-color: rgba(51, 51, 51, 0.9);
  margin: 50px;
  padding: 50px;
  border-radius: 5px;
}

footer {
  background-color: #333333;
  padding: 10px;
  display: inline-block;
  text-align: center;
}
